@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&family=Courgette&family=Roboto&family=Smooch&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

button.rec-dot {
  background-color: rgb(186, 186, 186);
  box-shadow: 0 0 1px 3px rgba(255, 255, 255, 0.5);
}
button.rec.rec-arrow:hover,
button.rec.rec-arrow:active,
button.rec.rec-arrow:focus {
  /* box-shadow: 0 0 1px 3px rgba(255, 99, 213, 0.5); */
  background-color: #249cc5;
}
.rec.rec-dot_active {
  background: #249cc5;
  border: 1px solid white;
}
button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus {
  box-shadow: 0 0 1px 3px rgba(4, 129, 157, 0.573);
}
